<?xml version="1.0" encoding="UTF-8"?>
<suite name="Selenium Test Suite" verbose="1">

    <test name="Google Tests">
        <classes>
            <class name="tests.alerts"/>
            <class name="tests.GooglePageObjectTest"/>
            <class name="tests.links"/>
            <class name="tests.uploadTest"/>
        </classes>
    </test>

</suite>
